<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style type="text/css">@import url("/static/css/style.css");</style>
    <title>{{ .title }}</title>
</head>
<body>
<div align="center" class="wrapper">
    <h1>{{ .title }}</h1>
    <p>アクセスした日時は{{.year}}年{{ .month }}月{{ .day }}日です</p>
</div>
</body>
</html>